/* error-searching tagg: */
/* #display_container * {
    box-shadow: 0px 0px 1px black;
} */

#editor {
  height: 100%;
}

#editor-tool-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#dropdown {
  padding: 0.3rem;
  border: none;
  border-radius: 5px;
  background: lightgray;
}

#editor button {
  padding: 0.3rem 0.65rem 0.3rem 0.65rem;
  font-size: inherit;
}

/* the wrapping container is neded to let the document fill upp the page heigth
   The document page is inside the wrapping and is hiding behind the scroll bar iff it is to long
   This is begus we dont want the document to extend the mage if it is too long for the screen   */
#document_wrapping-container {
  overflow: auto;
  /* background-color: green; */
}

#note-document {
  /* background-color: rgb(255, 255, 255); */
  width: clamp(1px, 90%, 900px);
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;

  display: grid;
  grid-template-areas:
    "head favo"
    "meta meta"
    "body body";

  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr auto;
}

/* ------------------------------ */
/* GRID AREAS NAMEING START HERE: */
#note_headding_container {
  grid-area: head;
}

#favourite-icon-container {
  grid-area: favo;
}

#note-body-text {
  grid-area: body;
}

#meta-information_div {
  grid-area: meta;
}

/* end of grid areas nameing: */
/* -------------------------- */

#note-document [contenteditable]:focus {
  outline: none;
}

#note-document h1,
#note-document #meta-information_div,
#note-document #note-body-text {
  padding-left: 3rem;
  padding-right: 3rem;
}

#note-document ul,
#note-document ol {
  padding: 1.5rem;
}

#favourite-icon-container svg {
  height: 2rem;
  overflow: visible;
  margin-left: 1rem;
  margin-right: 1rem;

}

#favourite-icon-container svg path {
  fill: none;
  stroke: rgba(125, 125, 125, 0.5);
  stroke-width: 30px;
}

#favourite-icon-container svg path:hover {
  fill: rgba(125, 125, 125, 0.1);
  stroke: rgba(125, 125, 125);
  cursor: pointer;
}

#date-stamp_div {
  font-size: 80%;
  color: grey;
  padding-top: 0.5rem;
}

#note-body-text {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.editorbutton {
  margin: 0.5rem;
  border-radius: 5px;
  border: none;
  background: lightgray;
}

.editorbutton:hover {
  background: gray;
  cursor: pointer;
}

#note-body-text {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

#water-mark {
  display: none;
}




/* TAG SECTION  TAG SECTION  TAG SECTION */
#tags_container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  font-size: 85%;
}

.small-tag-labels {
  background-color: rgba(125, 125, 125, 0.500);
  border-radius: 0.2rem;
  padding: 0.2rem 0.0rem 0.2rem 0.5rem;
}

.tag-labels-delete-buttons {
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  /* background-color: green; */
  color: rgba(125, 125, 125, 0.700);

}

.tag-labels-delete-buttons:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  cursor: pointer;
}




#font-dropdown {
  padding: 0.35rem;
  font-size: 0.8rem;
}

#font-dropdown:hover {
  background-color: lightgray;
}

#font1 {
  font-family: "Courier Prime";
}

#font2 {
  font-family: "Dancing Script";
}

#font3 {
  font-family: Nunito;
}

#font4 {
  font-family: Wavefont;
}



/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 
 media query for mobile 
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

@media (max-width: 600px) {

  #note-document h1,
  #note-document #meta-information_div,
  #note-document #note-body-text {
    padding-left: 0;
    padding-right: 0;
  }


  #note-document {
    width: 95%;
    padding: 1rem;
  }

  #note-document ul,
  #note-document ol {
    padding: 1rem;
  }

  #display_container {
    padding: 0px;
  }

  #favourite-icon-container svg {
    margin-left: 0px;
    margin-right: 0px;

  }

  /**********  TextStyleEditor  ***********/
  .activeTextStyle {
    background-color: lightblue;
  }
}