/* Image carousel box */
.carousel-container {

    position: relative;
    max-width: 660px;
    height: auto;
    margin: auto;
    margin-top: 3vh;
    border: #fff solid 3px;
    background: rgb(255, 255, 255);
    /* background-color: green; */
}

.carousel-main-img img,
.carousel-sub-imgs img {
    width: 100%;
}

.carousel-sub-imgs {
    display: grid;
    /* 4 images per coloumn */
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

/* Slide buttons */
.carousel-slide-buttons {
    position: absolute;
    left: 2%;
    top: 30%;
    transform: translate(-2%, -30%);
    width: 100%;
}

.carousel-slide-buttons button {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: rgba(125, 125, 125, 0.200);
    color: rgba(255, 255, 255, 0.800);
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1;
}



#carousel-left-button {
    position: absolute;
    left: 0.5rem;
}

#carousel-right-button {
    position: absolute;
    right: 0.5rem;


}

#carousel-delete-current-image {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0.7rem;
    background-color: rgba(125, 125, 125, 0.300);
    color: rgba(255, 255, 255, 0.800);
    padding: 0px 0.5rem 0px 0.5rem;
    border-radius: 3px;

    cursor: pointer;
    z-index: 1;

}

.carousel-slide-buttons button:hover,
#carousel-delete-current-image:hover {
    background-color: rgba(125, 125, 125, 0.500);
    color: rgba(255, 255, 255, 1);

}

/* Fade in animation for the carousel */
@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.3s ease-in 1 forwards;
}