main {
  display: flex;
  /* width: 100%; */
}

aside {
  background-color: rgb(127, 127, 127);
}

#display_container {

  width: 100%;
}

/* Styling for welcome message on first visit */
.welcome {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}