main {
  display: flex;
}

#display_container {
  width: 100%;
}

/* Styling for welcome message on first visit */
.welcome {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.aside-note_li {
  position: relative;
  border-bottom: 1px solid #e3e0e0;
  height: 2.5em;
  font-weight: bold;
  list-style: none;
  margin: 0.7em;
  white-space: nowrap;

  transition: 200ms;

  /* DELETE NOTE BUTTON */
  .delBtn {
    opacity: 0;
    cursor:pointer;
    position: absolute;
    right: -.6rem;
    top:-.4rem;
    font-size: .6rem;
    padding: .1rem .4rem;
    
    transition: 200ms;
    
    &:hover {
      transform: scale(1.7);
    }
  }
  
  &:hover {
    .delBtn {
      opacity: 1;
    } 
  }
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 
 media query for mobile 
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

@media (max-width: 600px) {

  main {
    flex-direction: column;
    justify-content: flex-start;
  }

  aside {
    width: 100vw;
    max-height: 4rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

  .aside-note_li {
    border-bottom: none;
  }

  .aside-note_li::after {
    content: "     ◈";
    color: rgb(225, 216, 216);
  }

  .aside-note_li::before {
    content: "◈     ";
    color: rgb(225, 216, 216);
  }
 
}