main {
  display: flex;
}

aside{
  background-color: rgb(183, 182, 182);
  width: 12em;
  max-height: 100vh;
  overflow-y: scroll; 
  scroll-behavior: auto;
}

 aside::-webkit-scrollbar{
   display: none;
} 

#display_container {
  width: 100%;
}

/* Styling for welcome message on first visit */
.welcome {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.aside-note_li {
  border-bottom: 1px solid #e3e0e0;
  height: 2.5em;
  font-weight: bold;
  list-style: none;
  margin: 0.7em;
  white-space: nowrap;
}

#add-new_btn {
  padding: 1em;
  margin: 1em;
  color: #397fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed; 
  bottom: 0;
  right: 0;
  margin-bottom: 20px; 
}

#add-new_btn:hover {
  background-color: white; 

}


/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 
 media query for mobile 
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

@media (max-width: 600px) {

  main {
    flex-direction: column;
    justify-content: flex-start;
  }

  aside {
    width: 100vw;
    max-height: 4rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

  .aside-note_li {
    border-bottom: none;
  }

  .aside-note_li::after {
    content: "     💠";
  }

  .aside-note_li::before {
    content: "💠     ";
  }
  
}