*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 5em auto;
}

nav {
  background-color: #397fff;
  overflow: hidden;
}

/* Base style for all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

/* Base style for buttons */
.button {
  background-color: rgb(0, 83, 146);
  color: lightgray;
  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 30px;
  font-family: 'Noto Sans', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.436);
  font-size: 0.9rem;
  cursor: pointer;
  margin: 0.5rem;
}

.button:hover {
  color: rgb(133, 151, 151);
}

/* Base style for links */
.link {
  color: rgb(5, 70, 119);
}

.link:hover {
  color: rgb(107, 98, 98);
}

.link:visited {
  color: rgb(42, 40, 40);
}

/* nav icons */
.navIcons {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0rem;
  cursor: pointer;
  color: white;
  transition: opacity 0.4s ease-in-out;
}

/* line to divide nav icons */
.line {
  height: 0.1rem;
  background: linear-gradient(to right, transparent, #a7c6ff, transparent);
}

/* remove underline on links */
a {
  text-decoration: none;
}

/* hover effect on icons */
.navIcons:hover {
  background-color: #639aff;
  opacity: 0.8;
}

.add-img_modal {
  background-color: #fff;
  border: 3px solid black;
  border-radius: 15px;
  padding: 1em;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
}
