*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 40px auto;
}

nav {
  background-color: blue;
  overflow: hidden;
}

/* Base style for all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

/* Base style for buttons */
.button {
  background-color: rgb(0,83,146);
  color: lightgray;
  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 30px;
  font-family: 'Noto Sans', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.436);
  font-size: 0.9rem;
  cursor: pointer;
}

.button:hover {
  color: rgb(133, 151, 151);
}

/* Base style for links */
.link {
  text-decoration: none;
  color: rgb(5, 70, 119);
}

.link:hover {
  color: rgb(107, 98, 98);
}

.link:visited {
  color: rgb(42, 40, 40);
}