input[type=text] {
    padding: 0.5rem;
    margin-left: 2rem;
    margin-top: 3rem;
    font-size: 1.0625rem;
    width: 50%;
    cursor: pointer;
  }

  button {
    padding: 0.6rem;
    background: #ddd;
    font-size: 1.0625rem;
    border: none;
    cursor: pointer;
  }

  #showSearchResults {
    margin-left: 2rem;
    margin-top: 3rem;
    background-color: rgb(222, 222, 222);
    width: 50%;
    height: auto;
  }

  /* Hover Styling */

  input:hover {
    background-color: beige;
  }

  button:hover {
    background-color: rgb(185, 185, 185);
  }