/* **************************************************** */
/* THIS IS THE OVER-ALL STYLE */

#statistics_container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1500px;
  min-height: 100%;
}

#statistics-card_container {
  margin-top: 3rem;
  column-count: 2;
  column-gap: 1rem;
}

.statistics_card {
  margin-bottom: 1rem;
  break-inside: avoid;
  background-color: #f5f5f5;
  border: 2px solid #eeeeee;
  border-radius: 3px;
  min-height: 1rem;
  padding: 1rem;
}

#adminpanel_card {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem
}

#adminpanel_card img {
  height: 4rem;
}

@media (max-width: 800px) {
  #statistics-card_container {
    column-count: unset;
  }
}