@media print {

    /* hide nav and aside */
    nav,
    aside {
        display: none;
    }



    /* setting the wrapping för the document to all its width */
    #document_wrapping-container {
        width: 100vw;
    }

    /* for safety rasons if any theeme had backround color we set wrapping and document bgcolor to white and also black text */
    #document_wrapping-container,
    #note-document {
        background-color: white;
        color: black;
        height: fit-content;
    }

    /* hide toolbar */
    #editor-tool-bar {
        display: none;
    }

    /* hide everything in note-document  but not the things in :not() */
    .note-document>:not(#note-headding_container):not(#meta-information_div):not(#note-body-text) {
        display: none;
    }

    /* hide everything in meta-information but not the things in :not() */
    #meta-information_div>:not(#date-stamp_div, #dynamic-image-carousel_container) {
        display: none;
    }

    #add-new_btn {
        display: none;
    }

    /* make watermark exist */
    #water-mark {
        display: flex;
        align-items: center;
        color: grey;
        margin: 0px 1rem 0px auto;
        width: max-content;
        height: fit-content
    }
}